Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
click
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# Add other dependencies as needed, e.g., gunicorn for production
pandas~=2.2.3
openpyxl
streamlit_player
pytest
pytest-flask
mock